<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://${LOKI}/loki/api/v1/push</url>
            <connectionTimeout>5000</connectionTimeout>
            <readTimeout>10000</readTimeout>
        </http>
        <format>
            <label>
                <pattern>app=spring-boot-app,host=${HOSTNAME},level=%level</pattern>
            </label>
            <message>
                <pattern>timestamp=%date{ISO8601} level=%level msg="%message" logger=%logger thread=%thread</pattern>
            </message>
        </format>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOKI"/>
    </root>
</configuration>